<template>
  <header class="bg-white sticky top-0 z-50">
    <div class="flex items-center justify-between p-4">
      <div class="images image-logo-horizontal"></div>
      <div>
        <button class="p-2 bg-white" @click="isCollapse = !isCollapse">
          <svg-icon style="width: 14px; height: 10px" name="menu" />
        </button>
      </div>
    </div>
    <div
      :class="isCollapse ? 'block' : 'hidden'"
      class="px-2 pt-2 pb-4 bg-primary"
    >
      <a
        href="#"
        class="block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800"
      >
        List your property
      </a>
      <a
        href="#"
        class="mt-1 block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800"
      >
        Trips
      </a>
      <a
        href="#"
        class="mt-1 block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800"
      >
        Messages
      </a>
    </div>
  </header>
</template>

<script>
export default {
  name: 'TheHeader',
  data() {
    return {
      isCollapse: false
    }
  }
}
</script>

<style></style>
