.images { display:inline-block; background-image: url('~assets/images/sprites.png'); background-size:263px 110px; }
.image-logo-horizontal { width: 136px; height: 20px; background-position: -127px 0px; }
.image-news { width: 117px; height: 30px; background-position: 0px 0px; }
.image-remarkable { width: 117px; height: 30px; background-position: 0px -40px; }
.image-trending { width: 117px; height: 30px; background-position: 0px -80px; }