<template>
  <div>
    <TheHeader />
    <nuxt></nuxt>
  </div>
</template>

<script>
import TheHeader from '~/components/layout-mobile/TheHeader'
export default {
  name: 'LayoutsMobile',
  components: {
    TheHeader
  }
}
</script>

<style scoped></style>
