<template>
  <div class="space-y-2 md:space-y-4 bg-gray-200">
    <SectionCarousel />
    <SectionRemarkable />
    <SectionTrending />
    <SponsorBreakPage />
    <SectionNews />
    <SponsorArticleBox />
    <SectionNews :header="false" />
  </div>
</template>

<script>
import SectionCarousel from '~/components/page-index/SectionCarousel'
import SectionRemarkable from '~/components/page-index/SectionRemarkable'
import SectionTrending from '~/components/page-index/SectionTrending'
import SectionNews from '~/components/page-index/SectionNews'

import SponsorBreakPage from '~/components/sponsor/SponsorBreakPage'
import SponsorArticleBox from '~/components/sponsor/SponsorArticleBox'

export default {
  layout({ isMobileOrTablet }) {
    return isMobileOrTablet ? 'mobile' : 'default'
  },
  components: {
    SectionCarousel,
    SectionRemarkable,
    SectionTrending,
    SectionNews,
    SponsorBreakPage,
    SponsorArticleBox
  }
}
</script>

<style></style>
