<template>
  <section class="bg-white container pt-2 py-6 space-y-4">
    <div class="images image-trending"></div>
    <div class="flex space-x-2">
      <div class="w-1/3">
        <img class="rounded" src="/img02.png" alt="" />
      </div>
      <div class="w-2/3">
        <span
          class="block mb-2 font-medium text-pearl text-base leading-relaxed"
        >
          Đối thủ MacBook Pro 2020 khiến Apple "ăn không ngon, ngủ không yên"
        </span>
        <div class="flex items-center space-x-2">
          <svg-icon style="width: 13.3px; height: 13.3px" name="comment-blue" />
          <span class="font-medium text-info text-sm leading-none">
            84 Bình luận
          </span>
          <span class="font-medium text-sm text-gray-100">
            16h trước
          </span>
        </div>
      </div>
    </div>
    <hr class="my-4 bg-gray-200" />
    <div class="flex space-x-2">
      <div class="w-1/3">
        <img class="rounded" src="/img02.png" alt="" />
      </div>
      <div class="w-2/3">
        <span
          class="block mb-2 font-medium text-pearl text-base leading-relaxed"
        >
          Đối thủ MacBook Pro 2020 khiến Apple "ăn không ngon, ngủ không yên"
        </span>
        <div class="flex items-center space-x-2">
          <svg-icon style="width: 13.3px; height: 13.3px" name="comment-blue" />
          <span class="font-medium text-info text-sm leading-none">
            84 Bình luận
          </span>
          <span class="font-medium text-sm text-gray-100">
            16h trước
          </span>
        </div>
      </div>
    </div>
    <hr class="my-4 bg-gray-200" />
    <div class="flex space-x-2">
      <div class="w-1/3">
        <img class="rounded" src="/img02.png" alt="" />
      </div>
      <div class="w-2/3">
        <span
          class="block mb-2 font-medium text-pearl text-base leading-relaxed"
        >
          Đối thủ MacBook Pro 2020 khiến Apple "ăn không ngon, ngủ không yên"
        </span>
        <div class="flex items-center space-x-2">
          <svg-icon style="width: 13.3px; height: 13.3px" name="comment-blue" />
          <span class="font-medium text-info text-sm leading-none">
            84 Bình luận
          </span>
          <span class="font-medium text-sm text-gray-100">
            16h trước
          </span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'SectionTrending'
}
</script>

<style scoped></style>
