<template>
  <section class="bg-white container py-4">
    <div class="h-64 md:h-auto relative">
      <img class="w-full h-full object-cover rounded" src="/img01.png" alt="" />
      <div class="absolute w-full p-4 bottom-0 info space-y-2 rounded">
        <h5
          class="md:max-w-md lg:max-w-xl font-medium text-white text-2xl leading-snug"
        >
          Trình làng Realme X50m 5G: Màn hình chơi game tuyệt đỉnh ở mức giá 6
          triệu.
        </h5>
        <div class="flex items-center space-x-2">
          <svg-icon style="width: 13.3px; height: 13.3px" name="comment" />
          <span class="font-normal text-white text-sm leading-none">
            62 Bình luận
          </span>
          <span class="font-normal text-sm text-gray-200">
            1h trước
          </span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'SectionCarousel'
}
</script>

<style scoped>
.info {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 4.63%,
    rgba(0, 0, 0, 0.6) 100%
  );
}
</style>
