<template>
  <section class="bg-white container pt-2 py-6 space-y-4">
    <div>
      <div v-if="header" class="images image-news"></div>
    </div>
    <div>
      <img class="w-full rounded" src="/img02.png" alt="" />
      <span class="block mt-3 font-medium text-pearl text-lg leading-relaxed">
        Đây là những smartphone giá mềm, nhưng lại sở hữu tính năng đỉnh nhất
      </span>
      <div class="flex items-center space-x-2">
        <svg-icon style="width: 13.3px; height: 13.3px" name="comment-blue" />
        <span class="font-medium text-info text-sm leading-none">
          4 Bình luận
        </span>
        <span class="font-medium text-sm text-gray-100">
          20’ trước
        </span>
      </div>
    </div>
    <hr class="my-4 bg-gray-200" />
    <div class="flex space-x-2">
      <div class="w-1/3">
        <img class="rounded" src="/img02.png" alt="" />
      </div>
      <div class="w-2/3">
        <span
          class="block mb-2 font-medium text-pearl text-base leading-relaxed"
        >
          Cần bao nhiêu tiền để bảo vệ Tim Cook, Mark Zuckerberg?
        </span>
        <div class="flex items-center space-x-2">
          <svg-icon style="width: 13.3px; height: 13.3px" name="comment-blue" />
          <span class="font-medium text-info text-sm leading-none">
            84 Bình luận
          </span>
          <span class="font-medium text-sm text-gray-100">
            16h trước
          </span>
        </div>
      </div>
    </div>
    <hr class="my-4 bg-gray-200" />
    <div class="flex space-x-2">
      <div class="w-1/3">
        <img class="rounded" src="/img02.png" alt="" />
      </div>
      <div class="w-2/3">
        <span
          class="block mb-2 font-medium text-pearl text-base leading-relaxed"
        >
          Tựa game chiến thuật tuyệt vời đang miễn phí trên Steam
        </span>
        <div class="flex items-center space-x-2">
          <svg-icon style="width: 13.3px; height: 13.3px" name="comment-blue" />
          <span class="font-medium text-info text-sm leading-none">
            84 Bình luận
          </span>
          <span class="font-medium text-sm text-gray-100">
            16h trước
          </span>
        </div>
      </div>
    </div>
    <hr class="my-4 bg-gray-200" />
    <div class="flex space-x-2">
      <div class="w-1/3">
        <img class="rounded" src="/img02.png" alt="" />
      </div>
      <div class="w-2/3">
        <span
          class="block mb-2 font-medium text-pearl text-base leading-relaxed"
        >
          Samsung Galaxy A31 ra mắt - camera macro, pin lớn, giá 6,5 triệu đồng
        </span>
        <div class="flex items-center space-x-2">
          <svg-icon style="width: 13.3px; height: 13.3px" name="comment-blue" />
          <span class="font-medium text-info text-sm leading-none">
            84 Bình luận
          </span>
          <span class="font-medium text-sm text-gray-100">
            16h trước
          </span>
        </div>
      </div>
    </div>
    <hr class="my-4 bg-gray-200" />
    <div class="flex space-x-2">
      <div class="w-1/3">
        <img class="rounded" src="/img02.png" alt="" />
      </div>
      <div class="w-2/3">
        <span
          class="block mb-2 font-medium text-pearl text-base leading-relaxed"
        >
          Apple có thật sự 'bóp' hiệu năng của iPhone SE 2020?
        </span>
        <div class="flex items-center space-x-2">
          <svg-icon style="width: 13.3px; height: 13.3px" name="comment-blue" />
          <span class="font-medium text-info text-sm leading-none">
            84 Bình luận
          </span>
          <span class="font-medium text-sm text-gray-100">
            16h trước
          </span>
        </div>
      </div>
    </div>
    <hr class="my-4 bg-gray-200" />
    <div class="flex space-x-2">
      <div class="w-1/3">
        <img class="rounded" src="/img02.png" alt="" />
      </div>
      <div class="w-2/3">
        <span
          class="block mb-2 font-medium text-pearl text-base leading-relaxed"
        >
          Loạn giá bán iPhone SE 2020 tại Việt Nam
        </span>
        <div class="flex items-center space-x-2">
          <svg-icon style="width: 13.3px; height: 13.3px" name="comment-blue" />
          <span class="font-medium text-info text-sm leading-none">
            84 Bình luận
          </span>
          <span class="font-medium text-sm text-gray-100">
            16h trước
          </span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'SectionNews',
  props: {
    header: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<style scoped></style>
