<template>
  <section class="bg-white container pt-2 py-6 space-y-4">
    <div class="images image-remarkable"></div>
    <div>
      <img class="w-full rounded" src="/img02.png" alt="" />
      <span class="block mt-3 font-medium text-pearl text-lg leading-relaxed">
        Game thủ "điên đảo" với laptop chơi game siêu ngầu Razer Blade 15
      </span>
      <div class="flex items-center space-x-2">
        <svg-icon style="width: 13.3px; height: 13.3px" name="comment-blue" />
        <span class="font-medium text-info text-sm leading-none">
          4 Bình luận
        </span>
        <span class="font-medium text-sm text-gray-100">
          20’ trước
        </span>
      </div>
    </div>
    <hr class="my-4 bg-gray-200" />
    <div>
      <img class="w-full rounded" src="/img02.png" alt="" />
      <span class="block mt-3 font-medium text-pearl text-lg leading-relaxed">
        Game thủ "điên đảo" với laptop chơi game siêu ngầu Razer Blade 15
      </span>
      <div class="flex items-center space-x-2">
        <svg-icon style="width: 13.3px; height: 13.3px" name="comment-blue" />
        <span class="font-medium text-info text-sm leading-none">
          4 Bình luận
        </span>
        <span class="font-medium text-sm text-gray-100">
          20’ trước
        </span>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'SectionRemarkable'
}
</script>

<style scoped></style>
