<template>
  <div :class="[$style.wrapper, 'container']">
    <div class="bg-white p-4 rounded">
      <div class="mb-2 flex items-center">
        <svg-icon name="sponsor" style="width: 16px;height: 16px"></svg-icon>
        <span class="pl-1 font-normal leading-relaxed text-gray text-sm">
          Tài trợ
        </span>
      </div>
      <div>
        <img class="w-full rounded" src="/img04.png" alt="" />
        <span
          class="block mt-3 mb-2 font-medium text-pearl text-base leading-relaxed"
        >
          Intel ra mắt Core i9-9980HK: Bộ vi xử lý mạnh nhất dành cho laptop,
          xung nhịp 5GHz, 8 lõi - 16 luồng
        </span>
        <div class="flex items-center space-x-2">
          <svg-icon style="width: 13.3px; height: 13.3px" name="comment-blue" />
          <span class="font-medium text-info text-sm leading-none">
            4 Bình luận
          </span>
          <span class="font-medium text-sm text-gray-100">
            16h trước
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SponsorArticleBox'
}
</script>

<style module>
.wrapper {
  @apply pt-2 py-4 bg-gray-200;
}
@screen md {
  .wrapper {
    @apply px-6 pb-2;
  }
}
</style>
