<template>
  <div class="container bg-white py-4">
    <div class="mb-2 flex items-center">
      <svg-icon name="sponsor" style="width: 16px;height: 16px"></svg-icon>
      <span class="pl-1 font-normal leading-relaxed text-gray text-sm">
        Tài trợ
      </span>
    </div>
    <div>
      <img class="w-full" src="/img03.png" alt="" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'SponsorBreakPage'
}
</script>

<style scoped></style>
